{% include "aspects/apps/vector/partials/common-pre.toml" %}

### Sources
# Capture logs from all docker containers
[sources.docker_logs]
type = "docker_logs"

[transforms.openedx_containers]
type = "filter"
inputs = ["docker_logs"]
condition = 'includes(["lms", "cms", "lms-job", "cms-job"], .label."com.docker.compose.service")'

{% include "aspects/apps/vector/partials/common-post.toml" %}
