name: Bump version and changelog
on:
  workflow_dispatch

jobs:
  bumpversion:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    outputs:
      version:  ${{ steps.tag_version.outputs.version }}
      bump_commit_sha: ${{ steps.bumpversion.outputs.commit_hash }}
      pr_number: ${{ steps.cpr.outputs.pull-request-number }}
    steps:
      - uses: actions/checkout@v6
      - name: Get next version
        id: tag_version
        uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.SEMANTIC_RELEASE_GITHUB_TOKEN }}
          release-type: python
          skip-labeling: true
          config-file: release-please-config.json
