name: Release
on:
  pull_request:
    types:
      - closed
    branches:
      - main

env:
  TUTOR_ROOT: ./.ci/

jobs:
  release:
    if: github.event.pull_request.merged == true && startsWith(github.head_ref, 'bot/v')
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - name: Create tag
        id: tag_version
        uses: python-semantic-release/python-semantic-release@v10.5.3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Create a GitHub release
        if: steps.tag_version.outputs.tag
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ steps.tag_version.outputs.tag }}
          name: Release ${{ steps.tag_version.outputs.tag }}
          body: ${{ steps.tag_version.outputs.release_notes }}
      - name: Checkout
        uses: actions/checkout@v6
      - name: setup python
        uses: actions/setup-python@v6
        with:
          python-version: 3.12
      - name: Install pip
        run: pip install -r requirements/pip.txt
      - name: Build package
        run: make build-pythonpackage
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_UPLOAD_TOKEN }}
